body{
	font-family: arial;
	padding: 0px;
	height: auto;
	width: auto;
	background-color: #dbe2e5;
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%2392a6ac' fill-opacity='0.23' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-size: 180px;

}

#container{
	position: absolute center;
	margin: 0 auto;
	float: top;
	width: 1000px;
	height: auto;
	background: #FFFFFF opacity(5%);
	color: white;

}

#background{
	width: 1000px;
	height: auto;
	background: url(../image/background.jpg), #FFFFFF;
	background-position: top center;
	background-size: cover;
	box-shadow: 0px 3px 6px #0000008F;
}

#header{
	position: static;
	width: 1000px;
	height: 50px;
	display: inline-flex;
	background: rgba(186, 186, 186, 0.3);
	padding-top: 15px;

}

#header h1{
	font-size: 28px;
	font-family: Verdana, Geneva, sans-serif;
	font-style: italic;
	font-weight: bold;
	width: 50px;
	margin-left: 25px;
	opacity: 1;
	margin-top: 0px;
}

#navmenu{
	margin-left: 150px;
	margin-top: 6px;
	position: center;
}

#navmenu a{
	align-items: center;
	font-size: 20px;
	font: Regular Verdana;
	letter-spacing: 0;
	color: white;
	margin-right: 20px;
	text-decoration: none;
}

#navmenu a:hover{
	color: lightblue;
}


#page{
	width: 1000px;
	height: auto;
	text-align: center;
	padding: 160px 0;
}

#page h1{
	margin: 70px auto;
	-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
 	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px grey;
}
#page table {
	margin:auto;
}

.footer{
	text-align: center;
	background: #20dde3;
	display: block;	
}

.table-user{
	background-color: #cfe5e9; 
	color: black;
}

.table-user a{
	text-decoration: none;
}

.forms{
	text-align: center;
}

.butmen{
	padding-top: 7px;
	text-align: right;
	margin-right: 20px;
	height: 49px;

}

.btnsignin{
	background-color: blue;
	color: white;
	border: 1.5px solid white;
	width: 80px;
	border-radius: 7px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	font: Regular Verdana;
	letter-spacing: 0;
	padding: 5px 10px;
}


.btnsignup{
	background-color: white;
	color: blue;
	border: 1.5px solid blue;
	width: 80px;
	border-radius: 7px;
	height: 30px;
	font-size: 13px;
	font: Regular Verdana;
	letter-spacing: 0;
	text-decoration: none;
	text-align: center;
	padding: 5px 10px;
}

.btnsignout{
	background-color: white;
	color: red;
	border: 1.5px solid red;
	width: 80px;
	border-radius: 7px;
	height: 30px;
	font-size: 13px;
	font: Regular Verdana;
	letter-spacing: 0;
	text-decoration: none;
	text-align: center;
	padding: 0 10px;
}

.btnprint{
	background-color: blue;
	color: white;
	border: 1.5px solid white;
	width: 80px;
	border-radius: 7px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	font: Regular Verdana;
	letter-spacing: 0;
	padding: 5px 10px;
	overflow-x: 900px;
	overflow-y: 10px;
}

.username-navbar{
	color:white;
	margin: 7px 20px 10px;
}

.familytree{
	margin: -160px auto;
}

.tree{
	display: inline-flex;
	float: top;
	background-color: white;
	height: auto;
	width: 990px;
	color: black;
}

.familytree h1#title{
	margin: 10px;
}

.first, .second, .third, .fourth{
	width: 250px;
	height: auto;
	padding: 0px;
	margin: auto;
	flex-basis: auto;
}

.pict{
	background-color: white;
	width: 150px;
	height: 150px;
	border: black 2px solid;
	margin: 5px auto 50px;
}

.pict img{
	width: inherit;
	height: inherit;
}

.first .pict{
	width: 130px;
	height: 130px;
}

.second .pict{
	width: 120px;
	height: 120px;
}

.third .pict{
	width: 110px;
	height: 110px;
}

.fourth .pict{
	width: 90px;
	height: 90px;
}

.profilepict{
	margin: auto;
	margin-top: -100px;
	width: 300px;
	height: 300px;
}

.profilepict img{
	width: inherit;
	height: inherit;
}

.btnback {
	background-color: white;
	text-decoration: none;
	color: blue;
	border-radius: 5px;
	border: lightblue 1px solid;
	box-shadow: 3px 3px 5px lightgrey;
}

p#about{
	color: white;
	font-size: 20px;
	-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
 	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px grey;
 	width: 500px;
 	text-align: center;
 	margin: 0 auto;
}

.btns{
	background-color: white;
	color: blue;
	border: 1.5px solid blue;
	width: 80px;
	border-radius: 7px;
	height: 35px;
	font-size: 13px;
	font: Regular Verdana;
	letter-spacing: 0;
	text-decoration: none;
	text-align: center;
	padding: 5px 10px;
}
